# Day 1

## Lists (...continues)

In [ ]:
newlist = ['elem1', 'elem2', 'elem3']

In [2]:
'elem1' in newlist

True

In [3]:
'elem10'in newlist

False

In [10]:
copylist = newlist
copylist

['elem1', 'elem2', 'elem3', 'elem4', 'elem4', 'elem4']

In [9]:
copylist.append('elem4')
copylist

['elem1', 'elem2', 'elem3', 'elem4', 'elem4', 'elem4']

In [11]:
newlist

['elem1', 'elem2', 'elem3', 'elem4', 'elem4', 'elem4']

In [15]:
newlist = ['elem1', 'elem2', 'elem3']
copylist = list(newlist)

In [16]:
copylist.append('elem4')
newlist

['elem1', 'elem2', 'elem3']

In [17]:
copylist = newlist.copy()
copylist.append('elem4')
newlist

['elem1', 'elem2', 'elem3']

In [21]:
newlist = ['elem1', 'elem2', 'elem3']
copylist = newlist[:]
copylist.append('elem4')
newlist

['elem1', 'elem2', 'elem3']

In [22]:
copylist

['elem1', 'elem2', 'elem3', 'elem4']

## Tuples

In [23]:
mytuple = ('tup1', 'tup2', 'tup3')

In [24]:
type(mytuple)

tuple

In [26]:
mytuple = (1, 'tup2', False)
mytuple

(1, 'tup2', False)

In [29]:
mytuple = 1, 'tup2', False
type(mytuple)

tuple

In [38]:
var1, var2, var3 = mytuple
print(type(var1))
print(type(var2))
print(type(var3))

<class 'int'>
<class 'str'>
<class 'bool'>

In [40]:
var1, var2, var3 = 1, 'tup2', False

In [36]:
mylist = list(mytuple)
mylist

[1, 'tup2', False]

In [42]:
newtuple = tuple(mylist)
print(type(newtuple))

<class 'tuple'>

In [43]:
mytuple = 1, 'tup2', False

In [57]:
newnewtuple = mytuple
newnewtuple = newnewtuple + newnewtuple
mytuple

(1, 'tup2', False)

## Dictionaries

In [58]:
my_dict = {'Name': 'Matteo', 'Surname': 'Courthoud'}
my_dict

{'Name': 'Matteo', 'Surname': 'Courthoud'}

In [59]:
type(my_dict)

dict

In [62]:
my_dict['Adress']

KeyError: 'Adress'

In [68]:
list(my_dict.values())

['Matteo', 'Courthoud']

In [69]:
list(my_dict.keys())

['Name', 'Surname']

In [72]:
type(list(my_dict.items())[0])

tuple

In [74]:
my_dict['Name'] = 'Paolo'
my_dict

{'Name': 'Paolo', 'Surname': 'Courthoud'}

In [75]:
new_dict = my_dict
new_dict['Name'] = 'Matteo'
my_dict

{'Name': 'Matteo', 'Surname': 'Courthoud'}

In [81]:
my_dict = {'Name': 'Matteo', 'Surname': 'Courthoud'}
new_dict = dict(my_dict)
new_dict['Name'] = 'Paolo'
my_dict

{'Name': 'Matteo', 'Surname': 'Courthoud'}

In [83]:
my_dict = {'Name': 'Matteo', 'Surname': 'Courthoud'}
del my_dict['Surname']
my_dict

{'Name': 'Matteo'}

In [84]:
my_dict = {'Name': 'Matteo', 'Surname': 'Courthoud'}
my_dict.clear()
my_dict

{}

In [86]:
my_dict = {}
my_dict

{}

In [89]:
my_dict = {'Name': 'Matteo', 'Surname': 'Courthoud'}
del my_dict['Name']
'Name' in my_dict

False

In [93]:
string = 'Fav economist = {econ:s}, fav number = {number:1.2f}'
string.format(econ = 'Keynes', number = 3.14)

'Fav economist = Keynes, fav number = 3.14'

In [100]:
options = {
    'number': 3.14,
    'econ': 'Keynes',
    'adress': 'none'
}
string.format(**options)

'Fav economist = Keynes, fav number = 3.14'

## Comparison Operators

In [101]:
x = 7

In [102]:
x == 7

True

In [103]:
x != 7

False

In [104]:
x < 10

True

In [107]:
x >= 7

True

In [108]:
x in [5,6,7]

True

In [110]:
5 < x < 10

True

In [111]:
(5 < x) and (x < 10)

True

In [113]:
5 < x and x > 10

False

In [114]:
5 < x & x > 10

False

In [115]:
5 < x or x > 10

True

In [129]:
x | 5

7

In [117]:
True | False

True

In [118]:
(5 < x) | (x > 10)

True

## Conditionals

In [131]:
if True:
    print('Hello!')
    print('Hello again!')

Hello!
Hello again!

In [133]:
if False:
    print('Hello!')
    print('Hello again!')

In [135]:
if False:
    print('Hello!')
print('Hello again!')

Hello again!

In [136]:
x = 7
if x > 3:
    print('Hello!')

Hello!

In [137]:
x = 7
if x:
    print('Hello!')

Hello!

In [139]:
if x < 3:
    print('Hello!')
else:
    print(':(')

:(

In [140]:
if x < 3:
    print('Hello!')
elif x > 6:
    print(':(')

:(

In [141]:
x = 6
if x < 3:
    print('Hello!')
elif x > 6:
    print(':(')

## While loops

In [146]:
x = 7
while x<20:
    print('Small x')
    x += 1
    if x==15:
        break
print(x)

Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
15

In [148]:
counter = 1
while True:
    print('Small x')
    counter += 1
    if counter==100:
        break
print(counter)

Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
Small x
100

In [149]:
while True:
    value = input('Insert q to quit:')
    if value=='q':
        break
    print(value)

Insert q to quit:w
w
Insert q to quit:r
r
Insert q to quit:q

In [153]:
while True:
    value = input('Insert q to quit:')
    if 'q' in value:
        print('q present')
    elif 't' in value:
        print('t present')
        break
    print(value)

Insert q to quit:quit
q present
quit
Insert q to quit:town
t present

## For loops

In [158]:
mylist = ['elem1', 'elem2', 'elem3']
list_element = 4

for list_element in mylist:
    print(list_element)
    
print(list_element)

elem1
elem2
elem3
elem3

In [162]:
mylist = ['elem1', 'elem2', 'elem3']
list_element = 4

for i in mylist:
    print(list_element)

4
4
4

In [163]:
mylist = ['elem1', 'elem2', 'elem3']
list_element = 4

for i in mylist:
    print(i)

elem1
elem2
elem3

In [167]:
for i, list_element in enumerate(mylist):
    print(i, ':', list_element)

0 : elem1
1 : elem2
2 : elem3

In [168]:
for i, list_element in enumerate(mylist):
    print(i, ':', mylist[i])

0 : elem1
1 : elem2
2 : elem3

In [174]:
a = enumerate(mylist)
a

In [181]:
mydict = {
    'name': 'Matteo',
    'surname': 'Courthoud'
}

In [182]:
for key, value in mydict.items():
    print(key, ': ', value)

name :  Matteo
surname :  Courthoud

In [183]:
for value in mydict.values():
    print(value)

Matteo
Courthoud

In [192]:
for XX in mydict.keys():
    print(XX)

name
surname

In [185]:
for item in mydict.items():
    print(item)

('name', 'Matteo')
('surname', 'Courthoud')

In [186]:
for letter in 'Matteo':
    print(letter)

M
a
t
t
e
o

In [188]:
name = 'Matteo'
name[0] = 'P'

TypeError: 'str' object does not support item assignment

In [190]:
mylist[0] = 'Matteo'
mylist

['Matteo', 'elem2', 'elem3']

In [196]:
for i in range(5):
    print(i)
    i = 3
    print(i)

0
3
1
3
2
3
3
3
4
3

In [198]:
type(range(5))

range

In [199]:
list(range(5))

[0, 1, 2, 3, 4]

In [202]:
mylist = ['elem1', 'elem2', 'elem3']
mylist2 = ['cake', 'carrots', 'icecream']

for i in range(3):
    print(mylist[i], ':', mylist2[i])

elem1 : cake
elem2 : carrots
elem3 : icecream

In [203]:
mylist = ['elem1', 'elem2', 'elem3']
mylist2 = ['cake', 'carrots', 'icecream']

for element, food in zip(mylist, mylist2):
    print(element, ':', food)

elem1 : cake
elem2 : carrots
elem3 : icecream

In [205]:
mydict = dict(zip(mylist, mylist2))
mydict

{'elem1': 'cake', 'elem2': 'carrots', 'elem3': 'icecream'}

In [206]:
type(mydict)

dict

In [207]:
mydict['elem1']

'cake'

In [208]:
mydict.values()

dict_values(['cake', 'carrots', 'icecream'])

In [211]:
tuple(zip(mylist, mylist2))

(('elem1', 'cake'), ('elem2', 'carrots'), ('elem3', 'icecream'))

In [213]:
list(range(5))

[0, 1, 2, 3, 4]

In [214]:
list(range(1,5))

[1, 2, 3, 4]

In [215]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [216]:
list(range(1,10,-1))

[]

In [217]:
list(range(10,1,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [219]:
list = [1,2,3]
list(range(3))

TypeError: 'list' object is not callable

In [220]:
list = [1,2,3]
del list
list(range(3))

[0, 1, 2]

In [223]:
for = 3

SyntaxError: invalid syntax (<ipython-input-223-c8ee3642ab3d>, line 1)

## Comprehensions

In [224]:
squared_numbers = []

for n in range(10):
    squared_numbers.append(n**2)
    
squared_numbers

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [225]:
squared_numbers = [n**2 for n in range(10)]
squared_numbers

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [230]:
squared_numbers = [n**2 for n in range(10) if n%2==0]
squared_numbers

[0, 4, 16, 36, 64]

In [234]:
squared_numbers = [(n, n**2) for n in range(10) if n%2==0]
squared_numbers

[(0, 0), (2, 4), (4, 16), (6, 36), (8, 64)]

In [235]:
squared_numbers = [(n, n**2) for n in range(10) if (n%2==0) and (n>5)]
squared_numbers

[(6, 36), (8, 64)]

In [237]:
my_dict = {n**2 for n in range(10)}
my_dict

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81}

In [239]:
type(my_dict)

set

In [254]:
my_dict = {str(n): n**2 for n in range(10)}
my_dict

{'0': 0,
 '1': 1,
 '2': 4,
 '3': 9,
 '4': 16,
 '5': 25,
 '6': 36,
 '7': 49,
 '8': 64,
 '9': 81}

In [255]:
my_dict['4']

16

In [258]:
for i in range(3):
    for j in range(2):
        print(i,', ', j,', ', i+j)

0 ,  0 ,  0
0 ,  1 ,  1
1 ,  0 ,  1
1 ,  1 ,  2
2 ,  0 ,  2
2 ,  1 ,  3